extends header-layout

block content
  link(rel='stylesheet', href='/stylesheets/flip.css')
  link(rel='stylesheet', href='/stylesheets/customScrollbar.css')
  br
  .container
    .row
      .col-sm-8.col-12
        .d-flex
          .contain-card-learn
            .front
              img#img_for_item(src=data[0].url_img, width='100%', alt='')
            #text_for_item.back= data[0].text
          .playSounditem.text-center.m-5.p-3(style='height:fit-content;')
            <i class="fas fa-play" style="font-size:5rem;color:#2196F3"></i>
            audio#myPlay(controls='', hidden='')
              source#sound_for_item(src=data[0].url_sound , type='audio/ogg')
      .col-sm-4.col-12
        // các bài giảng
        div#myScrollbar(style='height:400px; padding: 10px;   overflow-y: auto;')
          each item in data
            a.itemLearn(href='#')
              .row.m-2.p-2(style='border-bottom:2px solid gray')
                .col-4
                  img.imgLearn(src=item.url_img, width='100%', alt='')
                .col-8.textLearn= item.text
                  audio(controls='', hidden='')
                    source.soundLearn(src=item.url_sound , type='audio/ogg')
  .text-center.container
     h4
      a.text-dark(href="../signup" style="text-decoration:none")
        button.btn.btn-primary.btn-lg Đăng ký để học thêm
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
 
  script(src='/javascripts/playSound.js')
  script(src='/javascripts/dangxuat.js')
  script(src='/javascripts/changeItemLearn.js')

  include footer.pug

//- extends footer