extends header-layout

block content
  link(rel='stylesheet', href='/stylesheets/test.css')
  .container
    each item,index in dataSetTest
      -var itemTrue=Math.floor(Math.random()*4);
      div(style='display: flex; justify-content: space-between; margin: auto;')
        .itemTest(style='margin: 10px;')
          img#a(src=`${data[item[0]].url_img}`, width='100%')
          .answer.itemTrue
            b
              i.fas.fa-check
        .itemTest(style='margin: 10px;')
          img#b(src=`${data[item[1]].url_img}`, width='100%')
          .answer.itemFalse
            b
              i.fas.fa-times
        .itemTest(style='margin: 10px; ')
          img#c(src=`${data[item[2]].url_img}`, width='100%')
          .answer.itemFalse
            b
              i.fas.fa-times
        .itemTest(style='margin: 10px; ')
          img#d(src=`${data[item[3]].url_img}`, width='100%')
          .answer.itemFalse
            b
              i.fas.fa-times
      br
      div(style='display: flex; justify-content: space-between; width: 60%; margin: auto;')
        div
          | S&#x1ED1; c&acirc;u &dstrok;&uacute;ng: 
          span 8/10
        
        #playTest
          span
            i.fas.fa-volume-up
          audio(hidden='', src=`${data[item[itemTrue]].url_sound}`, controls='', type='audio/ogg')
        div
          button.itemNext
            i.fas.fa-chevron-right

  br
  section.featured-courses.horizontal-column.courses-wrap
    .container
      hr
      br
      .row
        .col-12
            header.heading.flex.justify-content-between.align-items-center.flex-column.flex-lg-row
              h3 Các khóa học khác
        each course in difCourse
          .col-12.col-lg-6
            .course-content.flex.flex-wrap.justify-content-between.align-content-lg-stretch
              figure.course-thumbnail
                a(href='#')
                  img(src=`${course.img_baner}`, width="100%" alt='')
              .course-content-wrap
                header.entry-header
                  .course-ratings.flex.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  h2.entry-title
                    a(href=`../detail?idCourse=${course.id}`)= course.name_course
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      //- a(href='#') Ms. Lara Croft 
                    .course-date July 21, 2018
                footer.entry-footer.flex.justify-content-between.align-items-center
                  .course-cost
                    span.free-cost Free

  script(src='/javascripts/test.js')
  //- 
  include ./footer.pug